<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.periodapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gm.permission.WRITE_GMAIL" />
    <uses-permission android:name="com.google.android.gm.permission.AUTO_SEND" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ikonka"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ikonka"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen">

        <activity android:name=".Welcome.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DrawerActivity" />
        <activity android:name=".Login_Signup.SignUpActivity" />
        <activity
            android:name=".Login_Signup.LogInActivity"
            android:theme="@style/AppTheme.FullScreen"></activity>
        <activity android:name=".Login_Signup.ResetPassword"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>